.system-contacts-wr {
  max-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  .system_contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    transition: 0.5s;
    cursor: pointer;
    max-height: 400px;
    &:hover {
      background: #dffeff;
    }
    .photo-wr {
      overflow: hidden;
      margin-right: 20px;
      border-radius: 50%;
    }
    .user-fullname {
      color: #565656;
      font-weight: 600;
      letter-spacing: 0.8px;
      margin-bottom: 3px;
    }
    span {
      color: #565656;
      font-size: 13px;
    }
  }
}
