table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #e2fdff;
  padding: 8px;
  a {
    cursor: pointer;
  }
  &.action a i {
    color: #557cff;
  }
  &.action.remove a i {
    color: #e46868;
  }
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #32be8f;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
